@import './reset.less';
@import './fonts.less';
@import './variables.less';

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: @MontserratRegularFont;
  background: @grey;
}

input, button, select {
  font-family: @MontserratRegularFont;
}

[id='root'] {
  display: flex;
  flex-direction: column;
  height: 100%;
}
